h1 {
  color: green;
  
}

.container{
  
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  
      
}

.newsletter{
  color: grey;
  border: solid thin grey;
  padding: 10px;
  padding-bottom: 20px;
  position: relative;
  
}

.newsletter button {
  background: #3cb878;
  border: none;
  color: white;
  width: 100%;
  display: block;
  height: 30px;
  border-radius: 3px;

}

.newsletter input#email {
  width: 100%;
  display: block;
  height: 30px;
  margin-bottom: 4px;
  box-sizing: border-box;
  border-radius: 3px;
  border: solid grey 1px;
}

.newsletter h3 {
  margin-top: 0;
}

/* {
  margin-top: 60px;
} */

.newsletter #terms {
  position: relative;
  top: 1px;
  margin-top: 18px;
   
}

.newsletter #closex {
 position: absolute;
 top: 0;
 right: 4px;
 
}

#questionmark {
  background: #3cb878;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: white;
  font-size: 70px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  
}

.card{
  flex-grow: 1;
  background-color: #3cb878;
 /* width: 180px; */
  text-align: center;
  color: white;
  padding: 20px 0;
  box-shadow: 0px 0px 5px 5px grey;
  
   
}

.card h3 {
 
  margin-bottom: 0;
}

#card-holder {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
  flex-direction: row;q
 
  
  
}

